* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  margin: 0px;
  padding: 0px;
}

h3 {
    color: #ffffff;
}

.topnav {
  font-family: Courier New, monospace;
  font-weight: bold;
  overflow: hidden;
  background-color: #282A3A;
  padding: 10px;
  border-radius: 0px 0px 25px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topnav a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 0px 20px 20px;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.topnav {
    justify-content: space-between; 
}

.title-logo {
    display: flex;
    align-items: center;
}

.logo {
  height: 60px;
  /* margin-right: 20px;*/
}

.topnav a.active:hover {
    color: #ddd; 
}

#query {
    padding: 10px;
    border-radius: 15px; 
}

form {
    width: 250px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

input {
    font: 15px system-ui;
    color: black;
    height: 100%;
    width: 100%;
    padding: 6px 9px;
}

.news-ticker {
  background-color: dimgrey;
  border-radius: 10px 10px 25px 25px;
  margin: 0 20px;
  height: 40px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  align-items: center;
  text-transform: uppercase;
  display:flex;
  justify-content: start;
}

.news-ticker:hover {
  color: orange;
}

.ticker-content {
    display: inline-block;
    white-space: nowrap;
    padding-right: 50%; /* Espacio a la derecha para retrasar el inicio del loop */
    animation: scrolling 50s infinite linear;
}

@keyframes scrolling {
    0% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(-50%);
    }
}

#section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

/* Estilos para cada tarjeta */
.card {
    background-color: #3b3b3b;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px;
    width: 300px; 
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.row {
    display: flex;
    justify-content: center;
}

.column {
    flex: 1;
}

.thumbnail {
    width: 100%;
    height: auto; 
}



#title {
    font-family: Courier New, monospace;
    font-size: 1.2rem;
    margin: 10px;
    color: #FFF;
    text-align: center;
}

#title:hover {
  color: yellow;
}

center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.main-container {
    width:50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Esto asegura que los elementos internos se apilen verticalmente */
}

.movie-poster {
  width: 300px; 
  height: auto; 
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 
}


